

/* 小程序不支持 SVG 文件 URL 直接引用 需要将文件进行转码
*
*   先将 SVG 文件 优化 
*   https://jakearchibald.github.io/svgomg/
*   将 MARKUP 中 <svg></svg> 标签内的路径 复制到 
*   https://codepen.io/jakob-e/pen/doMoML
*   将转码后的<svg></svg> 复制到 将要添加到 class 中
*
*   例如 ：
*   .icon-forexample{
*       background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M0 0h1024v1024H0z' 
*   }
*   
*   特别注意 -*-*-
*   如果SVG图标不显示 
*   需将 data:image/svg+xml  和   %3Csvg class='icon' 之间 的无用字符删掉
*   只保留  data:image/svg+xml,%3Csvg class='icon'
*   
*   
*   SVG 大小 可通过 url 的  width='xx' height='xx' 进行调整 
*/
@font-face {
    font-family: 'iconfont';  /* project id 649951 */
    src: url('//at.alicdn.com/t/font_649951_xm2b7b91g3b.eot');
    src: url('//at.alicdn.com/t/font_649951_xm2b7b91g3b.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_649951_xm2b7b91g3b.woff') format('woff'),
    url('//at.alicdn.com/t/font_649951_xm2b7b91g3b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_649951_xm2b7b91g3b.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
  }

.icon-fotter-home {
    background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M883.261 608.348L515.615 201.974 147.907 608.348c-14.51 19.344-24.187 36.813-24.187 58.061v290.509c0 21.238 13.004 38.471 29.04 38.471h280.597V734.136h154.808V995.38h280.597c16.025 0 29.02-17.223 29.02-38.471v-290.51c-.01-21.237-.01-38.696-14.52-58.05z' fill='%23BE9457'/%3E%3Cpath d='M941.332 598.682a48.282 48.282 0 0 1-36.341-16.425L515.584 139.756l-389.417 442.5a48.374 48.374 0 0 1-72.632-63.917l425.717-483.79a48.425 48.425 0 0 1 72.653 0l425.718 483.79a48.374 48.374 0 0 1-36.29 80.343zM747.796 201.974V153.6a29.04 29.04 0 0 1 29.041-29.04h96.758a29.04 29.04 0 0 1 29.03 29.04v232.212L747.796 201.974z' fill='%23BE9457'/%3E%3C/svg%3E");
}

.icon-fotter-order {
    background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M180.51 235.827h540.847v47.033H180.51zm0 235.141h307.016v47.033H180.511zm0 235.152h215.696v47.032H180.511z' fill='%23919191'/%3E%3Cpath d='M136.632 904.479a31.345 31.345 0 0 1-31.303-31.304V115.794a31.345 31.345 0 0 1 31.303-31.304h628.613a31.345 31.345 0 0 1 31.304 31.304v355.174h62.618V115.794c0-51.794-42.128-93.921-93.922-93.921H136.632c-51.794 0-93.921 42.127-93.921 93.92v757.372c0 51.794 42.127 93.921 93.921 93.921h350.894v-62.618H136.632z' fill='%23919191'/%3E%3Cpath d='M883.876 867.994a211.692 211.692 0 0 0 48.046-134.636c0-117.217-95.386-212.777-212.777-212.777s-212.777 95.386-212.777 212.777 95.57 212.777 212.777 212.777a210.842 210.842 0 0 0 130.406-44.698c1.403-1.065 2.642-2.457 4.045-3.522l107.715 107.714 30.085-30.095-107.52-107.54zm-61.03-1.045a167.332 167.332 0 0 1-103.69 35.492c-93.205 0-169.094-75.889-169.094-169.083s75.889-169.083 169.093-169.083c93.194 0 169.083 75.889 169.083 169.083 0 52.623-23.951 101.243-65.393 133.591z' fill='%23919191'/%3E%3C/svg%3E");
}

.icon-fotter-my {
    background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M956.014 831.793c-53.73-140.817-170.466-253.843-318.696-292.758a278.11 278.11 0 0 0 159.353-251.988c0-153.786-124.138-277.934-277.934-277.934-153.797 0-277.935 124.148-277.935 277.934 0 111.17 64.853 205.67 159.353 250.132C250.06 576.095 131.478 687.264 81.45 831.793c-62.997 142.673 35.204 177.878 140.817 177.878h611.454c88.934 1.855 176.022-37.06 122.293-177.878z' fill='%23BE9457'/%3E%3C/svg%3E");
}

.icon-phone {
    display : inline-block ;
    background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M988.078 781.67c-19.476-22.722-119.49-135.72-194.816-137.021a103.25 103.25 0 0 0-80.527 36.7 160.317 160.317 0 0 1-50.985 36.373 171.53 171.53 0 0 1-66.878 13.957h-2.6c-140.258-2.263-302.623-159.11-304.886-294.83a149.955 149.955 0 0 1 52.275-116.562 97.403 97.403 0 0 0 37.98-76.954c0-75.008-118.19-171.766-141.568-190.597a91.546 91.546 0 0 0-80.527-24.996c-28.898 6.472-73.708 36.352-122.737 141.875a283.515 283.515 0 0 0-24.023 125.02c6.81 376.003 341.586 699.075 731.218 705.25h4.874a306.719 306.719 0 0 0 122.737-23.378c109.097-47.401 140.277-90.921 146.76-118.835a85.719 85.719 0 0 0-26.297-76.002zm-22.733 63.642c-1.628 6.175-12.339 39.29-118.517 85.402a255.201 255.201 0 0 1-102.278 18.831h-4.546C382.843 945.654 65.28 638.495 58.143 293.642A236.145 236.145 0 0 1 77.619 189.42c47.729-102.595 84.429-113.644 88.32-114.617 3.891-.973 14.94 0 35.072 15.585 47.401 37.663 122.737 112.671 123.382 152.617 0 20.45-5.52 25.324-23.695 43.183a199.936 199.936 0 0 0-47.729 64.286 202.916 202.916 0 0 0-18.514 86.692c2.601 162.355 188.334 340.286 354.58 342.876h3.564a227.287 227.287 0 0 0 86.364-17.848 206.367 206.367 0 0 0 66.898-46.766c19.487-16.558 24.35-21.432 46.439-22.078v.318c40.59 0 117.862 73.38 156.825 119.173 12.647 14.623 17.848 26.317 16.22 32.471z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}

.icon-max{
    width : 128rpx ;
    height : 128rpx ;
}

.icon-middle{
    width : 64rpx ;
    height : 64rpx ;
}

.icon-min{
    width : 32rpx ;
    height : 32rpx ;
}

